{% extends "base.html" %}

{% block title %}
<title>Contact Us</title>
{% endblock title %}


{% block content %}
<div class='container'>
    {% comment %} <h1>welcome to todo list app</h1> {% endcomment %}
    <h1>{{contact_text}}</h1>


<p>Date/Time: <span id="datetime"></span></p>
<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = (("0"+dt.getDate()).slice(-2)) +"/"+ (("0"+(dt.getMonth()+1)).slice(-2)) +"/"+ (dt.getFullYear()) +" "+ (("0"+dt.getHours()).slice(-2)) +":"+ (("0"+dt.getMinutes()).slice(-2));
</script>

</div>

{% endblock content %}